@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$black: #131515;
$daryGrey: #2b2c28;
$darkPurple: #512888;
$lightGray: #d3d3d3;
$superLight: #efefef;
$white: #f4f4f4;

body {
	font-family: 'Montserrat', sans-serif;
}

// Todo:
// Check out if I can change the screen-height adjustment issues
// Scrollable item listing

// Nav menu

.nav-container {
	// Overall nav

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 75px;
	width: 100vw;
	background: $lightGray;

	.burger {
		display: none;
	}

	.logo-container {
		padding: 0;
		img {
			max-height: 30px;
		}
	}

	.shopping-logo-container {
		padding: 0.5rem;

		a {
			display: flex;
			align-items: center;
		}

		.shopping-logo {
			height: 36px;
			width: 36px;
		}

		span {
			display: block;
			height: 34px;
			width: 34px;
			border-radius: 50%;
			background: $daryGrey;
		}
	}

	// desktop menu

	.nav-section {
		display: flex;
		justify-content: space-around;

		// fix?
		a {
			text-decoration: none;
			color: inherit;

			&:focus-within {
				outline: none;
			}
		}

		.nav-links {
			display: flex;
			align-items: center;
			font-size: 1.25rem;
			height: 75px;
			padding: 0 1rem;
			transition: 0.25s;

			&:hover,
			&:focus-within {
				background-color: $superLight;
			}
		}

		// Sub nav links

		.nav-sub-links {
			&-1,
			&-2,
			&-3 {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: -51px;
				z-index: -1;
				left: 0;
				height: 125px;
				width: 100vw;
				background: white;
				border-bottom: 1px solid $daryGrey;
				animation: navLinkUp ease-in backwards 0.1s;

				a {
					text-decoration: none;
					color: inherit;
					background: white;
					padding: 0 2rem;
					display: flex;
					flex-direction: column;

					img {
						height: 70px;
					}

					p {
						text-align: center;
						padding-top: 5px;
					}
				}
			}
		}
	}

	// Desktop transition triggers
	// When section is hovered or focused, it animates the sub sections

	.earphone:hover ~ .nav-sub-links-1,
	.earphone:focus-within ~ .nav-sub-links-1,
	.nav-sub-links-1:hover,
	.nav-sub-links-1:focus {
		animation: navLinkDown 0.1s ease-out forwards 0.25s;
	}

	.headphone:hover ~ .nav-sub-links-2,
	.headphone:focus-within ~ .nav-sub-links-2,
	.nav-sub-links-2:hover,
	.nav-sub-links-2:focus {
		animation: navLinkDown 0.1s ease-out forwards 0.25s;
	}

	.support:hover ~ .nav-sub-links-3,
	.support:focus-within ~ .nav-sub-links-3,
	.nav-sub-links-3:hover,
	.nav-sub-links-3:focus {
		animation: navLinkDown 0.1s ease-out forwards 0.25s;
	}

	.nav-m-links {
		display: none;
	}

	.nav-m-sub-links {
		&-1,
		&-2,
		&-3 {
			display: none;
		}
	}
}

// Mobile menu

@media screen and (max-width: 1024px) {
	&-1,
	&-2,
	&-3 {
		a {
			padding: 0 1rem;
		}
	}
}

@media screen and (max-width: 786px) {
	// Mobile menu

	.nav-container {
		// Reverse main menu
		.nav-section {
			display: none !important;
		}

		.burger {
			display: block;
			padding: 1rem;
			cursor: pointer;

			div {
				width: 25px;
				height: 3px;
				background-color: $black;
				margin: 5px;
				transition: all 0.25s ease;
			}
		}
		.nav-m-links {
			display: block;
			position: absolute;
			top: 75px;
			left: 0;
			// flex-direction: column;
			// justify-content: flex-start;
			// align-items: center;
			height: calc(100vh - 75px);
			width: 50%;
			background-color: $lightGray;
			transform: translateX(-100%);

			.main-m-links {
				padding: 2rem 0;
				text-align: center;
				width: 100%;
				font-size: 1.25rem;
				transition: 0.1s;

				&:hover,
				&:focus-within {
					background-color: $superLight;
				}

				a {
					text-decoration: none;
					color: inherit;

					&:focus-within {
						outline: none;
					}
				}
			}
		}

		.nav-m-sub-links {
			&-1,
			&-2,
			&-3 {
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				position: absolute;
				height: calc(100vh - 75px);
				top: 75px;
				right: 0;
				z-index: -1;
				width: 50%;
				background: white;
				transform: translateX(-200%);

				a {
					text-decoration: none;
					color: inherit;
					background: white;
					padding-bottom: 1rem;
					display: flex;
					flex-direction: column;

					img {
						height: 60px;
					}

					p {
						text-align: center;
						padding-top: 5px;
					}
				}
			}
		}
	}
}

// Keyframes

// Desktop

@keyframes navLinkDown {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(100%);
	}
}

@keyframes navLinkUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

// Mobile

@keyframes navLinkOut {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes navLinkIn {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

.nav-slide-out {
	animation: navLinkOut 0.2s ease-in forwards 0s;
}

.nav-slide-in {
	animation: navLinkIn 0.2s ease-in forwards 0s;
}

// Mobile items

@keyframes subNavLinkOut {
	from {
		transform: translateX(-200%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes subNavLinkIn {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-200%);
	}
}

.sub-nav-slide-out {
	animation: subNavLinkOut 0.2s ease-in forwards 0s;
}

.sub-nav-slide-in {
	animation: subNavLinkIn 0.2s ease-in forwards 0s;
}

// Burger ingredients

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
